@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #999;
  --foreground: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #eee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
