.AuthForm>.AuthFormSubmitBtn{
  --tw-border-opacity: 0.5 ;
  --tw-bg-opacity: 0.5 ;
  --tw-text-opacity: 1 ;
   color: var(--fallback-bc);

}
.AuthForm>.formLabel{
  color: #222;
}
.AuthForm>.highlight{
  border: 2px solid crimson;
}

.autherror {
  position: absolute;
  bottom: -33px;
  color: #ededed;
  background-color: transparent;
  font-size: 0.7rem;
  line-height: 1.25rem/* 20px */;
  padding: 8px 8px;
  border-radius: 0.4rem;
  border: 2px solid crimson;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-start !important;
  height: 28px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}



